.contactus-page {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 12rem;
    padding-bottom: 12.3rem;

    .page-title {
        margin-bottom: 4.8rem;
    }

    .desc {
        color: #000;
        margin-bottom: 5.6rem;
    }

    .form-wrapper {
        max-width: 82.6rem;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 4.4rem;
        margin: 0 auto;

        .input-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            .input-label {
                position: relative;
                width: 20.6rem;
                flex-shrink: 0;
                color: #000;
                line-height: 100%;
            }

            .inputbox-wrapper {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 2.5rem;
            }

            .input-text {
                position: relative;
                width: 100%;
                height: 5.0rem;
                padding: 0.4rem 1.5rem;
                display: flex;
                align-items: center;
                background: #FFF;
                color: #000;
                border-radius: 0;
                border: 1px solid $black_color;

                &.width1 {
                    width: 19.5rem;
                }
            }

            .textarea {
                padding: 0.4rem 1.5rem;
                display: flex;
                background: #FFF;
                color: #000;
                border-radius: 0;
                border: 1px solid $black_color;
            }
        }
    }
    .btn-submit {
        width: 20.1rem;
        margin: 8.8rem auto 0 auto;
    }
}