.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    transition: all 0.4s ease-in-out;
    z-index: 996;
    display: flex;
    align-items: center;
    height: 12.6rem;

    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 4.4rem 3.2rem;
    }

    .btn-contact {
        position: relative;
        width: 15rem;
        height: 100%;
        background: $red_color;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        line-height: 100%;
    }

    .header-logo {
        position: relative;
        width: 36.9rem;
        padding: 0;

        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    .header-nav {
        position: relative;
        padding: 0;

        @include media('tb') {
            display: none;
        }

        .nav-menu {
            position: relative;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;

            &>li {
                position: relative;
                padding: 0;

                &:not(:first-child) {
                    margin-left: 6.0rem;
                }

                .menu-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    font-family: $font_noto;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    letter-spacing: 0.08em;
                    color: $black_color;
                    margin: 0;
                    white-space: nowrap;
                    text-decoration: none;
                    cursor: pointer;
                    z-index: 0;

                    img {
                        display: inline-block;
                        flex: 0 0 auto;
                        width: 1.1rem;
                        margin-left: 0.6rem;
                    }

                    svg {
                        display: inline-block;
                        width: initial;
                        height: auto;
                        margin-left: 0.6rem;
                    }

                    span {
                        color: inherit;
                        text-decoration: none;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #FFFFFF;
                        transform-origin: center center;
                        transform: scale(0, 1);
                        transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
                    }

                    &:hover,
                    &.active {
                        &::before {
                            transform: scale(1, 1);
                        }
                    }
                }
            }
        }
    }
}

.support-header {
    position: sticky;
    padding: 2.4rem 3.6rem;
    width: 100%;
    height: 10.2rem;
    display: flex;
    align-items: center;

    .header-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .desc {
            white-space: nowrap;
            line-height: 0;
            color: #000;
        }

        .another-text {
            display: block;
            position: relative;
            width: 55.8rem;

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }
}